# Python Crash Course - Exercise 02

* Task 0: Using Jupyter Notebook
* Task 1: Using Python as a calculator
* Task 2: Getting familiar with Booleans
* Task 3: Casting (converting) data types
* Task 4: Combining strings
* Task 5: Testing logical propositions
* Task 6: indexing lists
* Task 7: slicing strings
* Task 8: sum of a list (with casting)
* Task 9: `len()` and what it returns

* Task 10: Explain the error

## Task 0: Using Jupyter Notebook

Make sure you can tick all items off this list (will be demonstrated in class):

* I know how to **open** a Jupyter notebook
* I know how to **create** a new Jupyter notebook
* I know how to create **cells** of type `code` and `markdown`
* I know how to **move a cell** up or down
* I know how to **run** one single cell
* i know how to **run all** cells at once
* I know how to **clear** the output of one cell
* I know how to **clear all**  cell output at once
* I know how to **restart** the notebook kernel 
* I know how to **write and format** text in markdown

For more resources, check these links:
* A quickstart Jupyter Notebook tutorial from [Datacamp](https://www.datacamp.com/tutorial/tutorial-jupyter-notebook)
* A more detailed Jupyter Notebook tutorial from [DataQuest](https://www.dataquest.io/blog/jupyter-notebook-tutorial/)
* Official [Project Jupyter documentation](https://docs.jupyter.org/en/latest/)
* Basic syntax in [Markdown](https://www.markdownguide.org/basic-syntax/)

## Task 1: Using Python as a calculator

Use Python to compute the values of `x`, `y`, and `z`. Print out the value of `z`.

$x = 3^{(4-1)} + \frac{16 * (5^{0} - 2)}{2 * 4}$

$y = x^{2} + (3-x)*x$

$z = \frac{y}{x} $

Your code should look something like this:
```python
x = ...
y = ...
z = ...
print(z) 
```

**Solve Task 1:**

In [ ]:
# YOUR CODE HERE
x = 3 ** (4-1) + 16 * (5**0 -2)/(2*4)
y = x**2 + (3-x)*x
z = y / x
print(z)

***
## Task 2: Getting familiar with Booleans

First, find out what happens if you use mathematical operators on the booleans `True` and `False`. Can you formulate a general rule? For example, you can test the following expressions:

```python
True + True + True
True * 7.5
False + 9
False - 5
True / 4
... # and so on - try out what you like!
```

Next, let's remind ourselves of what the boolean value of objects is. Can you predict what the Boolean value will be for the following expressions?

```python
bool(28)
bool(-5.5)
bool(0)
bool("True")
bool("abracadabra")
bool("") # note: "" is an empty string object
bool("false")
# implement the code yourself to check if you were right!
```

**Solve Task 2:**

In [ ]:
# YOUR CODE HERE - math with booleans:

In [ ]:
True + True + True # evaluates to 3

In [ ]:
True * 7.5 # evaluates to 7.5

In [ ]:
False + 9 # evaluates to 9

In [ ]:
False - 5 # evaluates to -5

In [ ]:
True / 4 # evaluates to 0.25

**Insert** your general rule about doing maths with Booleans here

> In general, Python treats `True` as the number `1`, and `False` as the number `0`

In [ ]:
# YOUR CODE HERE - truth value of objects

In [ ]:
bool(28) # evaluates to True

In [ ]:
bool(-5.5) # evaluates to True

In [ ]:
bool(0) # evaluates to False

In [ ]:
bool("True") # evaluates to True

In [ ]:
bool("abracadabra") # evaluates to True

In [ ]:
bool("") # evaluates to False

In [ ]:
# Note: the expression below evaluates to True because it is understood as non-empty string 
# bools are case-sensitive!! - to evaluate to false, we need to write it with the capital letter:
# bool("False")
bool("false")

**Insert** your general rule about the boolean value of objects here

> In Python, non-empty objects and all numbers except `0` have the boolean value of `True`, and empty objects and the number `0` have the boolean value of `False`.

***
## Task 3: Casting (converting) data types

A quick recap on data types and casting:
* to **check** for the data type of the object `x`, use `type(x)`
* to **cast** the object `x` to a data type, use `int() float() str() bool()`
As in the exercise before, try to predict what the output of each statement will be; then implement it to check if you were correct.

```python
### checking the type of an object
type(3)
type(1+2)
type(1+2.0)
type(9/3)
type("3")

### int/str/bool to float
float(8)
float("45.5")
float(False)

### int/float/bool to str
str(1)
str(3.5)
str(True)

### float/str/bool to int
int(4.0)
int("5")
int(False)

### ... and some funky combinations:
str(int(4.5))
str(bool(9)) 
bool(float(0))
float(int(str(7))) 
```

What happens if you convert decimal numbers of type `float` to `int`? Can you formulate a general rule? For example, you can test on the following expressions: 
```python
### decimals to int
int(8.9)
int(0.999999)
int(1.000007)
```

**Solve Task 3**

In [ ]:
# YOUR CODE HERE - checking the type of an object

In [ ]:
type(3) # int

In [ ]:
type(1+2) # still int

In [ ]:
type(1+2.0) # float

In [ ]:
type(9/3) # float

In [ ]:
type("3") # str

In [ ]:
# YOUR CODE HERE - int/str/bool to float
float(8) # 8.0
float("45.5") # 45.5
float(False) # 0.0

In [ ]:
# YOUR CODE HERE - int/float/bool to str

In [ ]:
str(1) # "1"

In [ ]:
str(3.5) # "3.5"

In [ ]:
str(True) # "True"

In [ ]:
# YOUR CODE HERE - float/str/bool to int

In [ ]:
int(4.0) # 4

In [ ]:
int("5") # 5

In [ ]:
int(False) # 0

In [ ]:
# YOUR CODE HERE - funky combinations:

In [ ]:
str(int(4.5)) # "4"

In [ ]:
str(bool(9)) # "True"

In [ ]:
bool(float(0)) # True

In [ ]:
float(int(str(7))) # 7.0

In [ ]:
# YOUR CODE HERE - decimals to int:
int(8.9) # 8
int(0.999999) # 0
int(1.000007) # 1

**Insert** your general rule about converting decimals to int here

> Converting a decimal to int with Python will always round the decimal down to the next-smallest integer ("floor").

***
## Task 4: Combining strings

A quick recap:
* You can use the `+` operator to concatenate strings
* You can use the `*` operator to "multiply" a string by an integer x, i.e. to repeat it x times
* If you want to concatenate strings with other data types, you need to cast them to `str` first

```python
a = "misc"
b = "ellane"
c = "ous"
# concatenate the variables a, b and c to obtain the word "miscellaneous" printed out

x = "i am" 
y = "very"
z = "angry"
# concatenate / multiply the variables x, y and to obtain the sentence "i am very very very very angry". 
# insert spaces if needed (within the variable definition, or like so: " ")

myint = 1
mybool = True
mystr = "Love"
# combine the variables myint, mybool and mystr to obtain the string "1 True Love". Add white spaces if needed.
```

**Solve Task 4**

In [ ]:
# miscellaneous
a = "misc"
b = "ellane"
c = "ous"
d = a + b + c
print(d)

In [ ]:
# i am very very very very angry
x = "i am " # adding a whitespace at the end of the string
y = "very " # adding a whitespace at the end of the string
z = "angry"

fullsentence = x + 4*y + z
print(fullsentence)

In [ ]:
# 1 True Love
myint = 1
mybool = True
mystr = "Love"

fullstatement = str(myint) + " " + str(mybool) + " " + mystr
print(fullstatement)
# print(myint, mybool, mystr) # (quick solution, does not produce a string!)

***
## Task 5

You are given three Boolean variables:
```python  
p = True
q = False
r = True
```

Below, you are given propositions that combine these variables with logical operators. Try to predict what the output of each statement will be (either `True` or `False`); then implement it to check if you were correct.

```python
prop1 = p and q 
prop2 = p or q
prop3 = p and not q
prop4 = (not p) or (not q)
prop5 = (p and q) or (not p and q) or (p or q)
prop6 = p and q and r
prop7 = (p and q) or r
prop8 = p and (q or r)
prop9 = (not p or q) or (not p or r)
prop10 = (p and r) and (not q) and (q or r)
```

**Solve Task 5**

In [ ]:
p = True
q = False
r = True
# YOUR CODE HERE

In [ ]:
prop1 = p and q 
prop1

In [ ]:
prop2 = p or q
prop2

In [ ]:
prop3 = p and not q
prop3

In [ ]:
prop4 = (not p) or (not q)
prop4

In [ ]:
prop5 = (p and q) or (not p and q) or (p or q)
prop5

In [ ]:
prop6 = p and q and r
prop6

In [ ]:
prop7 = (p and q) or r
prop7

In [ ]:
prop8 = p and (q or r)
prop8

In [ ]:
prop9 = (not p or q) or (not p or r)
prop9

In [ ]:
prop10 = (p and r) and (not q) and (q or r)
prop10

***
## Task 6: Indexing lists

```python
my_list = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
```

For the list defined above, and for each of the following elements: `1`; `100`; `9`; `49`; `4`, find **two ways** of indexing this element. (hint: you can always use either positive or negative indexing)

**Solve Task 6:**

In [ ]:
my_list = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# index to the element 1
my_list[0]
my_list[-10]

In [ ]:
# index to the element 100
my_list[9]
my_list[-1]

In [ ]:
# index to the element 9
my_list[2]
my_list[-8]

In [ ]:
# index to the element 49
my_list[6]
my_list[-4]

In [ ]:
# index to the element 4
my_list[1]
my_list[-9]

***
## Task 7: Slicing strings

```python
"Actions speak louder than words."
```
For the string defined above, use slicing to save each word (without white spaces) in a separate variable. Then, save all variables into a variable called `my_sentence`. When you `print(my_sentence)`, the output should look like: `['Actions', 'speak'...]`

**Solve Task 7:**

In [ ]:
my_string = "Actions speak louder than words."

In [ ]:
# use slicing to save "Actions" into a variable
# word1 = mystring[...]
# etc. for all other words in my_string

In [ ]:
# recombine all variables into a list
# my_sentence = [word1, word2, ...] # etc.

In [ ]:
# print it out to check if it worked
# print(my_sentence)

***
# Task 8: Casting, `min()`, `max()`, `sum()` on a list

```python
my_list = [0, "1", 200, 45, "-80", "0.25", 13, "515.9"]
```

For the list defined above, first replace all its non-numeric elements by their numeric counterparts, using **indexing** and **casting** (`int()` or `float()`). Then, find the min, max, and sum of `my_list` using built-in functions.

**Solve Task 8:**

In [ ]:
my_list = [0, "1", 200, 45, "-80", "0.25", 13, "515.9"]
# use indexing and casting to replace all strs by either int or float:
# my_list[1] = int(...) etc.
my_list[1] = int(my_list[1])
my_list[4] = int(my_list[4])
my_list[5] = float(my_list[5])
my_list[-1] = float(my_list[-1])

In [ ]:
# find the min, max, and sum of my_list
print(min(my_list), "... min")
print(max(my_list), "...max")
print(sum(my_list), "...sum")

***
## Task 9: The `len()` function in Python

For each the variables `a...k` below, first **try to predict** what `len(variable)` will return; then check to see if you were correct.

```python
a = "COPEN HAGEN!"
b = [0, 1, 2, 3, 4, 5]
c = b[:4]
d = b[2:3]
e = b[:]
f = [True]
g = False
h = 9.0
i = 9
j = "9"
k = [9]
```

**Solve Task 9:**

In [ ]:
# run this cells to define the variables a-j
a = "COPEN HAGEN!"
b = [0, 1, 2, 3, 4, 5]
c = b[:4]
d = b[2:3]
e = b[:]
f = [True]
g = False
h = 9.0
i = 9
j = "9"
k = [9]

In [ ]:
# check their lengths like so: len(a) etc.
print(len(a))
print(len(b))
print(len(c))
print(len(d))
print(len(e))
print(len(f))

In [ ]:
### All of the expressions below throw errors because bool/int/float don't have a length
# print(len(g))
# print(len(h))
# print(len(i))

In [ ]:
print(len(j))
print(len(k))

***
## Task 10: Explain the error

Each of the expressions below will throw an error. Try to find out why, and explain the error in your own words!

```python
x = int("8.7")
max(9)
sum([1, "2"])
20 / 0
```

In [ ]:
x = int("8.7")

Insert your own explanation of the error message:

`ValueError: invalid literal for int() with base 10: '8.7'` >>> this string cannot be parsed as integer

In [ ]:
max(9)

Insert your own explanation of the error message: 

`'int' object is not iterable` >>> since the integer 9 has no internal structure, the maximum of it is not defined (to iterate = to go stepwise through all the elements in the structure... but there is no structure.)

In [ ]:
sum([1, "2"])

Insert your own explanation of the error message:

`unsupported operand type(s) for +: 'int' and 'str'` >>> the function sum() will apply the mathematical operator + , but it is not defined how to use this operator for a combination of str and int.

In [ ]:
20 / 0

Insert your own explanation of the error message:

`division by zero` >>> is not defined in Python, either :)