# Python Crash Course IDSP 2025 - Lecture 02

Contents:
* Lecture 1 Recap
* Concatenating strings
* Casting variables (data type conversion)
* Comparison operators
* Boolean logic & data type `bool`
* Logical operators
* the `list` data type & indexing
* IF WE GET TO IT: built-in functions (otherwise left for lecture 03)

# Lecture 1 Recap

* Mathematical operators: `+ - * / **`
* Data types: `int float str`
* Built-in functions: `type() print()` 
* `variable = value`: assignment operator `=`

In [ ]:
# recap
5 ** 3
# x = 5 ** 3
# type(x)
# y = 5.0
# z = x - y
# print(z)
# type(z)

In [ ]:
# recap
float_variable = 1/3
string_variable = "welcome back!"
print(float_variable)
print(string_variable)
# print(type(float_variable))
# print(type(string_variable))

## Let's look at *concatenating* strings

In [ ]:
# let's look at combining ("concatenating") strings
sentence = "My age is "
age = "54" # this is a string, not a numeric variable!
full_sentence = sentence + age
full_sentence

In [ ]:
# let's look at combining ("concatenating") strings
sentence = "My age is "
age = 23 # this is an integer 
sentence + age

In [ ]:
# If you want to concatenate str with another data type,
# you need to CONVERT (CAST) it to str first
sentence + str(age)

***
# Casting variables

= converting from one datatype into another. Python has built-in functions for this:

* To convert to integer: `int()`
* To convert to float: `float()`
* To convert to string: `str()`

In [ ]:
# Let's try this out with an integer (convert to float; convert to string)
str(3)

In [ ]:
# Let's try this out with a string (convert to integer; convert to float)
float("6")

In [ ]:
# Let's try this out with a variable (convert to str, float)
my_integer = 24
str(my_integer)

In [ ]:
# Note that we are not changing the actual variable:
my_integer = 24
print(float(my_integer))
print(my_integer)

In [ ]:
# To change the value in the memory, we need to assign the new value:
my_variable = 24
print(my_variable) # before casting to float
my_variable = float(my_variable) 
print(my_variable) # after casting to float

## Try it out yourself!

```python
# TASK 1: use the 3 variables below to print out "i have 4 siblings"
part1 = "i have"
user_input = 4
part2 = "siblings"

# TASK 2: use the 3 variables below to compute x+y+z
x = "7"
y = 3.1
z = "1.9"
```

In [ ]:
### TASK 1
# use the 3 variables above to print out the sentence "i have 4 siblings"
part1 = "i have"
user_input = 4
part2 = "siblings"

In [ ]:
### TASK 2
# use the 3 variables below to compute the sum x+y+z
x = "7"
y = 3.1
z = "1.9"

***
# Let's ask Python some logic questions! ("propositions")

They have to be yes-no questions though.

In [ ]:
# our way of asking, "Is 5 bigger than 3?"
5 < 3

In [ ]:
# our way of asking: is 5 smaller than 3?
5 < 3

In [ ]:
# to check whether two objects are identical,
5 == 5

In [ ]:
# or way of asking: is 3 EQUAL TO 5?
3 == 5

In [ ]:
# our way of asking: is 3 NOT EQUAL TO 5?
5 != 5

## Comparison operators in Python

* greater than `>`
* smaller than `<`
* equal to `==`
* **NOT** equal to `!=`
* greater OR equal `>=`; smaller OR equal `<=`

## The data type `bool` (boolean) in Python

* cf. [Boolean Algebra](https://en.wikipedia.org/wiki/Boolean_algebra) 
* `True`; `False` (note the Capital Letter!!)
* Can only have two values: either `True` or `False`

In [ ]:
# this is a statement with a comparison operator; 
# it evaluates to a Boolean value: True OR False
7 > 3

In [ ]:
# we can save the boolean into a variable:
statement = 7 > 3
statement # this is our way of asking: is the statement True?

In [ ]:
# we can also negate statements with the LOGICAL OPERATOR "NOT":
statement = 7 > 3 
not statement # our way of asking: is the statement NOT True?

In [ ]:
# We can also negate Booleans with the LOGICAL OPERATOR "NOT":
not True

In [ ]:
# We can also negate Booleans with the LOGICAL OPERATOR "NOT":
not False

In [ ]:
# We can also combine statements with the LOGICAL OPERATOR "AND":
stat1 = 1 < 2 # True
stat2 = 1 < 5 # True
stat1 and stat2 # our way of asking: are all these statements True?

In [ ]:
# We can also combine statements with the LOGICAL OPERATOR "AND":
stat3 = 5 < 100 # True
stat4 = 5 < 1 # False
stat3 and stat4 # our way of asking: are all these statements True?

In [ ]:
# We can also combine several Booleans with the LOGICAL OPERATOR "AND":
True and True # "are both True?"

In [ ]:
# We can also combine several Booleans with the LOGICAL OPERATOR "AND":
True and False # "are both True?"

In [ ]:
# We can also combine several Booleans with the LOGICAL OPERATOR "AND":
False and False # "are both True?"

In [ ]:
# We can also combine several statements with the LOGICAL OPERATOR "OR":
stat1 = 1 < 2 # True
stat2 = 1 < 5 # True
stat1 or stat2 # our way of asking: is AT LEAST ONE of these statements True?

In [ ]:
# We can also combine statements with the LOGICAL OPERATOR "OR":
stat3 = 1 < 9 # True
stat4 = 1 < 0 # False
stat3 or stat4 # our way of asking: is AT LEAST ONE of these statements True?

In [ ]:
# We can also combine several Booleans with the LOGICAL OPERATOR "OR":
True or False # "is *at least* one True?"

In [ ]:
# We can also combine several Booleans with the LOGICAL OPERATOR "OR":
False or False # "is *at least* one True?"

In [ ]:
# We can also combine several Booleans with the LOGICAL OPERATOR "OR":
True or True # "is *at least* one True?"

In [ ]:
# We can combine as many LOGICAL PROPOSITIONS as we want:
prop1 = True 
prop2 = False
prop3 = "a" == "a" # evaluates to True
prop4 = 5 > 7 # evaluates to False
prop5 = not ( 3 == 6 ) # parenthesis evaluate to False, so prop5 evaluates to True  

prop1 or prop2 or prop3 or prop4 # is at least one of these True?
#prop1 and prop3 and prop5 # are all of these True?
#not prop1 and not prop2 and not prop4 # are all of these NOT True?

## Logical operators in Python

```python
not, and, or 
``` 

Python evaluates combinations of logical operators in the following order of precedence:

`not > and > or`

You can always use round brackets to explicitly state the order of evaluation: 
```python 
p and not q or s # same as: (p and (not q)) or (s)
```

Note that the **Python** `or` in Python is **inclusive**: `p or q` means either p, or q, **or both**. 

> This is different from the **exclusive** `or` (XOR) in logic: `p XOR q` means either p, or q, **but not both**.

> Additional resource: More on [propositional logic](https://www.cs.toronto.edu/~david/course-notes/csc110-111/03-logic/01-propositional-logic.html) in Python

## Try it out yourself!

For the following propositions and truth values, 
```python
p = True
q = False
```
find the truth value of the following combined propositions:

```python
p and q 
p or q
not p 
not q
(not p) and (not q)
(not p) or (not q)
```

In [ ]:
# find the truth values of the combined propositions
p = True
q = True

In [ ]:
bool(8) # converting an integer to boolean: always True, except for 0 (False) 
# (way of asking: is this number different from zero?)

In [ ]:
# same for float: bool(float) ... "is this float different from 0?"
bool(0.00005)
#bool(0.0)

## What is the truth value of an object?

(In a world according to Python)

Is a number `True` or `False`?

Is a word `True` or `False`?

In [ ]:
# What is the truth value of a number?
bool(8)

In [ ]:
# What is the truth value of a number?
bool(42)

In [ ]:
# What is the truth value of a number?
bool(-3.14)

In [ ]:
# What is the truth value of a number?
bool(0)

In [ ]:
# What is the truth value of a string?
my_statement = "hhsdkfhsdkfjh"
bool(my_statement)

In [ ]:
# What is the truth value of a string?
my_statement = ""
bool(my_statement)

## Truth value of objects in Python
* all numbers (float and int) except `0` have the boolean value of `True`
* all strings (and other object types) that are **not empty** have the boolean value `True`
* the number `0` has the boolean value of `False`
* empty strings (and other empty objects) have the boolean value `False`

## Casting variables - update!

* To convert to integer: `int()`
* To convert to float: `float()`
* To convert to string: `str()`
* **To convert to boolean: `bool()`**

***
# What are Python objects?

Python is an object-oriented programming language. (OOP)

"Everything" is an object.

Every variable that you define is an object.

Every function (for example, `type()`, `print()`, `int()`) is an object.

**Don't worry about this now!**

***
# What are Python operators?

Python operators *perform operations* on Python objects.

There are 7 groups of Python operators, we already have learned some of them:

* **Arithmetic operators** `+ - * / ** //` (and more!)
* **Assignment operators** `=` (and more!)
* **Comparison operators** `== != > >= < <= `
* **Logical operators** `and or not`
* ~~Identity operators~~ 
* ~~Membership operators~~ 
* ~~Bitwise operators~~ ...saving for later!

*** 

# `list`s in Python - intro

* Hooray, a new data type!
* We already know: `int float str bool` (fundamental data types)
* We will learn now: `list` (sequence data type)
* We will learn later: ... (so much more!)

Let's see some simple examples first.

In [ ]:
# With square brackets and commas in between, 
# we can make a Python list.
[1, 2, 3]

In [ ]:
# let's check what data type this is:
type([1,2,3])

In [ ]:
# Lists can also have just one element.
[3]
type([3])

In [ ]:
# Lists can even be empty. It's the square brackets that make the list.
empty_list = []
type(empty_list)
# bool(empty_list)

In [ ]:
# We can also make a list of strings, for example movies we want to watch.
["Groundhog Day", "Solaris", "Barbie"]

In [ ]:
# A list can also contain just one string. 
# It is still a proper list (just with one element.)
["movie night"]

In [ ]:
# We can also store variables in lists.
x = 10
y = 20
z = 30
my_list = [x, y, z]
print(my_list)

In [ ]:
# Lists can even contain different types of objects. 
# this is not "best practice", but... possible!
weird_list = [1, "two", 3.0, [4, 5], True] 
print(weird_list)

In [ ]:
# How can we access the elements inside the list?
# by INDEXING
my_list = ["a", "b", "c"]
my_list[3]

## Note: Python starts to count at 0!

The first "number" in Python is `0`.

The first index in Python is `0`.

To access the first element in a list, we index it with `0`: **`mylist[0]`**

Fun fact: thanks to a student petition, ITU classrooms are numbered in this way, too!

## How to access the "inside" of our list

**Indexing:** accessing ONE element

**Slicing:** accessing SEVERAL CONSECUTIVE elements

In [ ]:
# indexing lists
weekdays = ["monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "sunday"]
# to get the FIRST element:
weekdays[0]

In [ ]:
# indexing lists
weekdays = ["monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "sunday"]
# to get the SECOND element:
weekdays[1]

In [ ]:
# indexing lists
weekdays = ["monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "sunday"]
# to get the LAST element:
weekdays[-1] # last element (could also be accessed by weekdays[6])

In [ ]:
# indexing lists
weekdays = ["monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "sunday"]
# to get the SECOND-TO-LAST element:
weekdays[-2]

In [ ]:
# slicing lists
weekdays = ["monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "sunday"]
# to get all elements from index i to index j (NOT INCLUDING j):
weekdays[1:4]

In [ ]:
# slicing lists
weekdays = ["monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "sunday"]
# to get all elements from index i to index j (NOT INCLUDING j), another example:
weekdays[0:2]

In [ ]:
# slicing lists
weekdays = ["monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "sunday"]
# to get all elements starting from index i, UP TO THE END:
weekdays[3:]

In [ ]:
# slicing lists
weekdays = ["monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "sunday"]
# to get all elements FROM THE BEGINNING, up to index j (but not including j):
weekdays[:4]

## `list`s in Python: what we know by now

* Very useful
* Are **ordered sequences** of objects (order matters!!)
* Can contain **any type of object** (also other lists)
* Denoted by square brackets `[]`; created with `[]` or with `list()`
* Objects in a list are separated by a comma: `[1, 2, 3]`
* Objects in list can be accessed by their index, put in square brackets after the list name: `mylist[index]`

## Indexing lists

**Positive indexing**
* To access the **first** element: `mylist[0]`
* To access the **second** element: `mylist[1]`
* To access the **third** element: `mylist[2]` ... etc.

**Negative indexing**
* To access the **last** element: `mylist[-1]`
* To access the **second-to-last** element: `mylist[-2]`
* To access the **third-to-last** element: `mylist[-3]` ... etc.

> Indexing works the same way for strings, too!

## Slicing lists

* To access **all** elements: `mylist[:]`
* To access **all elements starting from i**: `mylist[i:]`
* To access **all elements up to (BUT NOT INCLUDING) i**: `mylist[:i]` 
* To access the elements **from `i` to `j`**: `mylist[i:(j+1)]`

> Slicing works the same way for strings, too!

In [ ]:
# OMG! It also works for strings!
mystring = "I'm looking at the moon, but I'm thinking of myself."
# mystring[0] # the first character
# mystring[-1] # the last character
mystring[4:14] # the characters in position 4:14

## Try it out yourself!

```python
icecream = ["strawberry", "chocolate", "banana", "pistacchio"]
# access "strawberry"
# access "chocolate" and "banana"
# access "pistacchio"

numbers = [10, 20, 30, 40, 50]
# access the value 10 by indexing
# access the values [20, 30, 40] by slicing
# access the values [10, 20, 30, 40] by slicing
# access the value 50 by indexing

quote = "I have a dream."
# access "I"
# access "a dream"
# access "."
```

In [ ]:
icecream = ["strawberry", "chocolate", "banana", "pistacchio"]
# access "strawberry"
# access "chocolate" and "banana"
# access "pistacchio"

In [ ]:
numbers = [10, 20, 30, 40, 50]
# access the value 10 by indexing
# access the values [20, 30, 40] by slicing
# access the values [10, 20, 30, 40] by slicing
# access the value 50 by indexing

In [ ]:
quote = "I have a dream."
# access "I"
# access "a dream"
# access "."

## Changing and combining lists

In [ ]:
# you can CHANGE the objects inside a list, by assigning a value:
mylist = [1, 2, 3, 4, 5]
mylist[0] = "chaos!"
mylist
# note that the variable name remains the same!

In [ ]:
list_a = [1, 2, 3, 4, 5]
list_b = list_a # THIS IS A DANGEROUS THING TO DO
list_a[0] = "chaos!"
print(list_a, list_b) # what do you think list_b will look like?

In [ ]:
list_a = [1, 2, 3, 4, 5]
list_b = list_a # THIS IS A DANGEROUS THING TO DO
list_a[0] = "chaos!"
print(list_a, list_b) # changing list_a will also change list_b!!

In [ ]:
list_a = [1, 2, 3, 4, 5]
list_b = list_a.copy() # THIS IS A LESS DANGEROUS THING TO DO 
list_a[0] = "chaos!"
print(list_a, list_b)

In [ ]:
# We can combine two lists by using the + operator
list1 = [1,2,3]
list2 = [4,5,6]
list1 + list2
# note that there is NO ADDITION OF THE NUMBERS here!
# the + means: "combine/concatenate the two lists"

In [ ]:
# We can combine a list "with itself" by using the * operator 
mylist = ["a", "b", "c"]
mylist * 3 # this only works with integers

In [ ]:
# Reminder: we have similar rules for strings:
# "a" + "b"
"a" * 5 # this only works with integers

## Try it out yourself!

```python
list1 = [0, 1, "two", 3]
list2 = [4, 5, "6"]
list3 = [7, "ate", 9]
```
For each of the lists above, replace the "outliers" with integer numbers.

Then, concatenate the 3 lists and save them into a variable called `my_list`.

`print(my_list)` should return: `[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]`.

In [ ]:
# Try it out yourself:
list1 = [0, 1, "two", 3]
list2 = [4, 5, "6"]
list3 = [7, "ate", 9]

# ... your code here

***

# Functions in Python

We already used six functions...

`type()`, `print()`, `int()`, `float()`, `str()`, `bool()`

But what **are** functions in Python?

## Functions in Python (soft intro)

* A function has a **name**
* A function takes an **input**
* A function **does something** to the input
* A function **returns** an **output** (not always though)
* In Python slang, we say we ~~use~~ **call** functions `()`

In [ ]:
# let's take an easy example: 
# casting the float 8.0 into the integer 8 with the help of int().
mynumber = int(8.0)
mynumber

## Functions in Python (soft intro)

**EXAMPLE: `mynumber = int(8.0)`**

* A function has a **name** $\rightarrow$ `int`
* A function takes an **input** $\rightarrow$ `8.0`
* A function **does something** to the input $\rightarrow$ it converts the float `8.0` into the integer `8`
* A function **returns** an **output** $\rightarrow$ `8`, we save it into the variable called `mynumber`
* In Python slang, we say we ~~use~~ **call** functions $\rightarrow$ `()`

> Actually, functions can also take none or several inputs; and give back none or several outputs. We'll deal with these cases later.

In [ ]:
# Now we can better understand why 
# we shouldn't overwrite built-in functions...
# int("5")
# defining a variable called "int" (DONT DO THAT!!!!)
# int = "i am sneaky and will overwrite this function name with a useless variable now" 
int("5")
# But if it happened... don't worry, just restart Python (the kernel)

## Built-in functions in Python3

https://docs.python.org/3/library/functions.html

"Basic equipment" of Python.

You don't need to know them all - but today we will look at some!

* Working with numbers: `abs()`
* Working with lists: `max(), min(), sum()`
* Working with lists, strings, etc.: `len()`

In [ ]:
# the abs() function returns the absolute value (without a minus sign) of a number
abs(-8)

In [ ]:
# the min() and max() functions return the smallest and largest value in a list, respectively
mylist = [6,9,11,4]
# min(mylist) 
max(mylist)

In [ ]:
# the sum() function returns the sum of a list
mylist = [10, 5, 1]
sum(mylist)

In [ ]:
# the len() function returns the length of an object
len([10,11,12])

In [ ]:
# the len() function returns the length of an object
len("happy birthday")

In [ ]:
# the len() function returns the length of an object
len(["happy birthday"]) # this is a list with only 1 element, so...

In [ ]:
# And by the way, you can always get help from Python like this:
?abs
# note the syntax: no "()" after function name!

# Try it out yourself!

Let's have a look at the built-in functions:
```python
round()
sorted()
id()
all()
any()
```
Find out (by guessing; trial and error; checking the documentation; or all of the above) what these built-in functions do.

In [ ]:
# round()

In [ ]:
# sorted()

In [30]:
# id()

In [14]:
# all()

In [13]:
# any()